#Analisi Esplorativa del Dataset

In [1]:
import pandas as pd

# Carica il dataset
df = pd.read_csv("online_gaming_insights.csv")
df

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,Medium
1,9001,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,Medium
2,9002,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,High
3,9003,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,Medium
4,9004,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40029,49029,32,Male,USA,Strategy,20.619662,0,Easy,4,75,85,14,Medium
40030,49030,44,Female,Other,Simulation,13.539280,0,Hard,19,114,71,27,High
40031,49031,15,Female,USA,RPG,0.240057,1,Easy,10,176,29,1,High
40032,49032,34,Male,USA,Sports,14.017818,1,Medium,3,128,70,10,Medium
40033,49033,19,Male,USA,Sports,10.083804,0,Easy,13,84,72,39,Medium

In [2]:
# Informazioni di base
print("Forma del dataset:", df.shape)

# Prime righe del dataset
print("\nPrime 5 righe:")
df.head()

Forma del dataset: (40034, 13)

Prime 5 righe:

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,Medium
1,9001,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,Medium
2,9002,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,High
3,9003,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,Medium
4,9004,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,Medium

In [3]:
# Valori nulli (NaN)
print("\nValori nulli per colonna:")
print(df.isnull().sum())

# Celle vuote (stringhe vuote)
print("\nCelle vuote (stringhe vuote) per colonna:")
empty_strings = (df == '').sum()
print(empty_strings)

Valori nulli per colonna:
PlayerID                     0
Age                          0
Gender                       0
Location                     0
GameGenre                    0
PlayTimeHours                0
InGamePurchases              0
GameDifficulty               0
SessionsPerWeek              0
AvgSessionDurationMinutes    0
PlayerLevel                  0
AchievementsUnlocked         0
EngagementLevel              0
dtype: int64

Celle vuote (stringhe vuote) per colonna:
PlayerID                     0
Age                          0
Gender                       0
Location                     0
GameGenre                    0
PlayTimeHours                0
InGamePurchases              0
GameDifficulty               0
SessionsPerWeek              0
AvgSessionDurationMinutes    0
PlayerLevel                  0
AchievementsUnlocked         0
EngagementLevel              0
dtype: int64

In [4]:
# Numero di righe duplicate
print("\nNumero di righe duplicate:", df.duplicated().sum())

# Visualizza le righe duplicate in forma tabellare (se esistono)
duplicates = df[df.duplicated()]
if not duplicates.empty:
    print("\nEsempi di righe duplicate:")
    display(duplicates.head())  # Mostra tabella formattata

Numero di righe duplicate: 0

In [5]:
df.describe()

,PlayerID,Age,PlayTimeHours,InGamePurchases,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked
count,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000
mean,29016.500000,31.992531,12.024365,0.200854,9.471774,94.792252,49.655568,24.526477
std,11556.964675,10.043227,6.914638,0.400644,5.763667,49.011375,28.588379,14.430726
min,9000.000000,15.000000,0.000115,0.000000,0.000000,10.000000,1.000000,0.000000
25%,19008.250000,23.000000,6.067501,0.000000,4.000000,52.000000,25.000000,12.000000
50%,29016.500000,32.000000,12.008002,0.000000,9.000000,95.000000,49.000000,25.000000
75%,39024.750000,41.000000,17.963831,0.000000,14.000000,137.000000,74.000000,37.000000
max,49033.000000,49.000000,23.999592,1.000000,19.000000,179.000000,99.000000,49.000000

In [6]:
# Seleziona solo le colonne numeriche
df_numeric = df.select_dtypes(include=['number'])
df_numeric

,PlayerID,Age,PlayTimeHours,InGamePurchases,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked
0,9000,43,16.271119,0,6,108,79,25
1,9001,29,5.525961,0,5,144,11,10
2,9002,22,8.223755,0,16,142,35,41
3,9003,35,5.265351,1,9,85,57,47
4,9004,33,15.531945,0,2,131,95,37
...,...,...,...,...,...,...,...,...
40029,49029,32,20.619662,0,4,75,85,14
40030,49030,44,13.539280,0,19,114,71,27
40031,49031,15,0.240057,1,10,176,29,1
40032,49032,34,14.017818,1,3,128,70,10
40033,49033,19,10.083804,0,13,84,72,39

In [7]:
print("\nInformazioni sulle colonne numeriche:")
df_numeric.info()

Informazioni sulle colonne numeriche:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40034 entries, 0 to 40033
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PlayerID                   40034 non-null  int64
 1   Age                        40034 non-null  int64
 2   PlayTimeHours              40034 non-null  float64
 3   InGamePurchases            40034 non-null  int64
 4   SessionsPerWeek            40034 non-null  int64
 5   AvgSessionDurationMinutes  40034 non-null  int64
 6   PlayerLevel                40034 non-null  int64
 7   AchievementsUnlocked       40034 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 2.4 MB

In [8]:
import numpy as np
from decimal import Decimal, ROUND_HALF_UP

# Carica il dataset
df = pd.read_csv('online_gaming_insights.csv')

# Arrotonda alla seconda cifra decimale
df['PlayTimeHours'] = df['PlayTimeHours'].apply(
    lambda x: float(Decimal(str(x)).quantize(Decimal('0.01'), rounding=ROUND_HALF_UP))
)

df['PlayTimeHours'].head(10)

0    16.27
1     5.53
2     8.22
3     5.27
4    15.53
5    20.56
6     9.75
7     4.40
8    18.15
9    23.94
Name: PlayTimeHours, dtype: float64

In [9]:
# Seleziona solo le colonne categoriche
categorical_cols = df.select_dtypes(include=['object', 'category'])

# Mostra tutte le categorie e la loro frequenza per ciascuna colonna
for col in categorical_cols:
    print(f"\n--- {col} ---")
    print(df[col].value_counts(dropna=False))

--- Gender ---
Gender
Male      23959
Female    16075
Name: count, dtype: int64

--- Location ---
Location
USA       16000
Europe    12004
Asia       8095
Other      3935
Name: count, dtype: int64

--- GameGenre ---
GameGenre
Sports        8048
Action        8039
Strategy      8012
Simulation    7983
RPG           7952
Name: count, dtype: int64

--- GameDifficulty ---
GameDifficulty
Easy      20015
Medium    12011
Hard       8008
Name: count, dtype: int64

--- EngagementLevel ---
EngagementLevel
Medium    19374
High      10336
Low       10324
Name: count, dtype: int64

In [10]:
# Verifica se ci sono duplicati in PlayerID
duplicati = df[df.duplicated(subset=["PlayerID"], keep=False)]

if duplicati.empty:
    print("Nessun PlayerID duplicato trovato.")
else:
    print(f"Trovati {duplicati['PlayerID'].nunique()} PlayerID duplicati.")
    print("Ecco un'anteprima dei duplicati:")
    print(duplicati.sort_values("PlayerID").head(10))

Nessun PlayerID duplicato trovato.

##Divisione del dataset in 2 collection

In [11]:
# Crea il dataset Player
player_columns = [
    "PlayerID",
    "Age",
    "Gender",
    "Location",
    "PlayerLevel",
    "AchievementsUnlocked",
    "EngagementLevel"
]
player_df = df[player_columns].drop_duplicates(subset=["PlayerID"])
player_df

,PlayerID,Age,Gender,Location,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,79,25,Medium
1,9001,29,Female,USA,11,10,Medium
2,9002,22,Female,USA,35,41,High
3,9003,35,Male,USA,57,47,Medium
4,9004,33,Male,Europe,95,37,Medium
...,...,...,...,...,...,...,...
40029,49029,32,Male,USA,85,14,Medium
40030,49030,44,Female,Other,71,27,High
40031,49031,15,Female,USA,29,1,High
40032,49032,34,Male,USA,70,10,Medium
40033,49033,19,Male,USA,72,39,Medium

In [12]:
# Crea il dataset Session
session_columns = [
    "PlayerID",
    "PlayTimeHours",
    "InGamePurchases",
    "SessionsPerWeek",
    "AvgSessionDurationMinutes",
    "GameGenre",
    "GameDifficulty"
]
session_df = df[session_columns].copy()

# Converte la colonna InGamePurchases in booleano (0 -> False, 1 -> True)
session_df["InGamePurchases"] = session_df["InGamePurchases"].astype(bool)

# Aggiunge SessionID progressivo
session_df.insert(0, "SessionID", range(1, len(session_df) + 1))
session_df

,SessionID,PlayerID,PlayTimeHours,InGamePurchases,SessionsPerWeek,AvgSessionDurationMinutes,GameGenre,GameDifficulty
0,1,9000,16.27,False,6,108,Strategy,Medium
1,2,9001,5.53,False,5,144,Strategy,Medium
2,3,9002,8.22,False,16,142,Sports,Easy
3,4,9003,5.27,True,9,85,Action,Easy
4,5,9004,15.53,False,2,131,Action,Medium
...,...,...,...,...,...,...,...,...
40029,40030,49029,20.62,False,4,75,Strategy,Easy
40030,40031,49030,13.54,False,19,114,Simulation,Hard
40031,40032,49031,0.24,True,10,176,RPG,Easy
40032,40033,49032,14.02,True,3,128,Sports,Medium
40033,40034,49033,10.08,False,13,84,Sports,Easy

In [13]:
# Salva i due nuovi dataset
player_df.to_csv("Player.csv", index=False)
session_df.to_csv("Session.csv", index=False)

print("Player.csv e Session.csv creati con successo!")

Player.csv e Session.csv creati con successo!